.box1{
    background-color: #FF9966;
    height: 200px;
}
.box2{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.aside{
    width: 25%;
    background-color: #33FF33;
    
}
.article{
    width: 75%;
    background-color: #0033CC;
    margin-left: 10px;
}
.box3{
    background-color: #FF3399;
    height: 200px;
}