
body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar-alibaba{
    width: 1440px;
    height: 56px;
}

.Section-main{
    margin-top: 20px;
    width: 1180px;
    height: 400px;
}

.Section-sale{
    margin-top: 30px;
    width: 1180px;
    height: 240px;
    display: flex;
}


.Section-inquiry{
    height: 1180px;
    height: 420px;
    margin-top: 25px;
}

.Section-recommend{
    
}

.Section-service{
    width: 1180px;
    height: 256px;
    margin-top: 25px;
}

.Section-country{
    width: 1177px;
    height: 138px;
    margin-top: 30px;
}


.newsletter-alibaba{
    width: 1440px;
    height: 190px;
    margin-top: 43px;
}

.newsletter-alibaba{
    width: 1440px;
    height: 324px;
}

/* items */
.items{
    width: 895px;
    height: 235px;
  
}


.item{
    border: 1px solid #E0E0E0;
    width: 179PX;
    height: 235PX;
    display:flex; /* xếp đối tuọng thanh 1 hang */
    flex-direction: column; /* xep đối tuọngw theo cột */ 
    align-items: center; /* đưa đối tuọng ra giữa */
    justify-content: space-around; /* cách đều các đối tuọng với nhau */
}
.item_name{
    /* width: 112px;
    height: 24px;
    line-height: 24px; */
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* margin-top: 19px;
    margin-left: 32px; */
}
.item_price{
   /*  width: 61px;
    height: 21px; */
    border: 1px solid #FFE3E3;
    border-radius: 5px;
    width: 30%;
    font-size: 20px;
    font-weight: 800;
    background-color: #FFE3E3;
    text-align: center;
    padding: 5px 5px 5px ;
 /*    margin-top: 8px;
    margin-left: 57px; */
}
.item_image{
    /* margin-top: 8px;
    margin-left: 20px; */
 /*    width: 140px;
    height: 140px;
     */
}
.items{
    display: flex;
    flex-direction: row;
}
.coundown{
    width: 198px;
    height: 113px;
    margin: 20px 63px 107px 20px;
}
.coundown_text1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.coundown_text2{
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}
.time{
    display: flex;
    justify-content: space-around;
}
.time div{
    border-radius: 5px;
    width: 45px;
    height: 50px;
    background-color: #606060;
}


/*Begin hearder-alibaba*/

.hearder-alibaba{
    width: 1440px;
    height: 86px;
}

.hearder-alibaba-logo-colored{
    width: 150px;
    height: 46px;
    margin: 20px 0 20px 130px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hearder-alibaba-logo-symbol{
    width: 44px;
    height: 44px;
}

.hearder-alibaba-logo-symbol-div1{
    width: 38px;
    height: 40px;
    background-color: #0D6EFD;
    border-radius: 10px; 
}

.hearder-alibaba-logo-symbol-div2{
    width: 38px;
    height: 40px;
    background-color: #0D6EFD33 20%;
}
/*End hearder-alibaba*/



/*Begin Section recommend*/

.Section-recommend{
width: 1180px;
height: 700px;
margin-top: 25px;
border: 1px solid #E0E0E0;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.section-recommend-title{
    font-size: 20px;
    width: 600px;
}

.section-recommend-items{
    width: 100%;
    height: 310px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-recommend-item{
width: 220px;
height: 310px;
border: 1px solid #E0E0E0;
border-radius: 10px; 
background-color: #FFFFFF;
border: 1px gray-300 #DEE2E7;
}

.section-recommend-item-image{
display: flex;
flex-direction: row;
justify-content: center; /*ox*/
margin-top: 15px;
}


.section-recommend-item-price{
font-size: 25px;
font-weight: 600;
margin-top: 10px;
margin-left: 10px;
}

.section-recommend-detail {
font-size: 20px;
font-weight: 500;
margin-top: 10px;
margin-left: 10px;
}

/*End Section recommend*/

/* 
Begin Block-items-group1 */

.Block-items-group1{
    width: 1180px;
    height: 257px;
    border: 1px solid #E0E0E0;
    margin-top: 22.5px;
    display: flex;
    flex-direction: row;
}

.left-aside{
    width: 280px;
    height: 256px;
    border: 1px solid #E0E0E0;
    background-image: url(./Image/Bitmap.png);
}

.block-items-box{
    width: 896px;
    height: 100%;
    /* border: 1px solid blue; */
}

.block-items-list{
    width: 896px;
    height: 50%;
    /* border: 1px solid #FF00FF; */
    display: flex;
    flex-direction: row;
}

.block-item{
    width: 224px;
    height: 127px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block-item-title{
    font-size: 20px;
    margin-left: 10px;

}

.block-item-image{
    margin-right: 10px;
}

/* End block-items-group1 */